@import '../../scss/abstracts/variable.scss';

.call_to_action {

    width: 100%;
    padding-inline: 2rem;
    padding-block: 4rem;
    display: flex;
    background-color: $color-white;
    align-items: center;
    justify-content: center;
    font-family: 'inter';
    max-width: 1800px;
    margin: auto;


    .call_to_action__container {
        flex: 1;
        background-color: #0E7B68;
        display: flex;
        border-radius: 30px;
        padding: 1.5rem;

        .content_wrapper {
            flex: 0.38;
            background-color: antiquewhite;
            border-radius: 10px;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }
        }

        .details_section {
            flex: 0.6 1;
            display: flex;
            align-items: center;
            justify-content: center;

            .con_wrapper {
                padding-inline: 4.3rem;

                .title {
                    font-size: $font-32px;
                    font-family: inherit;
                    font-weight: $font-weight-regular;
                    padding-block-end: 3rem;
                    color: $color-call-to_para;

                }

                span {
                    color: $color-white ;
                }

            }


        }

        .detailsCon {
            flex: 1;
            padding-inline: 2rem;
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 1.5rem;
            padding-block: 8rem;

            .conWrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding-inline: 4rem;

                .title {
                    font-size: $font-32px;
                    font-family: inherit;
                    font-weight: $font-weight-regular;
                    padding-block-end: 3rem;
                    color: $color-call-to_para;

                    span {
                        color: $color-white ;
                        font-size: $font-32px;
                        font-weight: $font-weight-bold;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .call_to_action {
        .call_to_action__container {
            flex-direction: column;

            .content_wrapper {
                border-radius: 10px;
            }

            .details_section {
                .con_wrapper {
                    padding-block: 2rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .detailsCon {

                .conWrapper {
                    padding-inline: 0rem;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .call_to_action {
        .call_to_action__container {
            flex-direction: column;

            .content_wrapper {
                border-radius: 10px;
            }

            .details_section {
                .con_wrapper {
                    padding-inline: 0rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .detailsCon {
                .conWrapper {
                    padding-inline: 0rem;
                }
            }
        }
    }

}