.btn_container {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    justify-content: center;

    .btn_icon {
        width: 17px;
        height: 17px;
        object-fit: contain;
        filter: invert(1);
    }

    .btn_label {
        color: #fff;
        font-size: 14px;
        width: max-content;
        font-family: 'inter';
    }

    &:active {
        opacity: 0.5;
    }

    &:disabled {
        opacity: 0.7;
        cursor: not-allowed;
    }
}