@import '../../../scss/abstracts/variable.scss';
@import '../../../scss/layout/flex.scss';


.main_con {
    width: 100%;
    height: auto;
    padding-inline: 2rem;
    padding-block-end: 5rem;
    max-width: 1800px;
    margin: auto;
}