@import '../../scss/abstracts/variable.scss';

.main_con {
    height: auto;
    padding-inline: 5rem;
    font-family: 'Inter';

    .iconWrapper {
        width: 3rem;
        height: 3rem;
        margin-block-end: 1.5rem;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .label {
        width: fit-content;
        border-radius: 20px;
        padding-inline: 0.9rem;
        padding-block: 0.5rem;
        color: #0e7b68;
        font-size: 0.875rem;
        background-color: #CFECE7;
        font-weight: $font-weight-sem-bold;
    }

    .title {
        font-size: $default-font;
        color: $color-heading;
        font-weight: $font-weight-sem-bold;
        margin-block-end: 1rem;
        font-family: inherit;
        margin-block-start: 2rem;
    }

    .subTitle {
        color: #5E5F6E;
        font-size: $font-22px;
        margin-block-end: 1rem;
        font-weight: $font-weight-regular;
        font-family: inherit;
    }

    .img_wrapper {
        width: 100%;
        height: 100%;
        display: none;
        border-radius: 10px;

        .image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
        }
    }

    .description {
        color: $color-des;
        font-size: $font-16px;
        font-weight: $font-weight-regular;
        font-family: inherit;
    }

    span {
        color: #0E7B68;
    }
}

@media (min-width: 1200) and (max-width: 768px) {
    .main_con {
        .img_wrapper {
            display: block;
            padding-block-end: 1rem;
        }
    }
}

@media (max-width: 768px) {
    .main_con {
        padding-inline: 0rem;

        .img_wrapper {
            display: block;
            padding-block-end: 1rem;
        }

        .description {
            font-size: 1.25rem !important;
        }
    }
}

@media (max-width: 576px) {
    .main_con {
        padding-inline: 0rem !important;

        .img_wrapper {
            display: block;
            padding-block-end: 1rem;
        }

        .description {
            font-size: 1.25rem !important;
        }
    }
}