/* OverlapImage.module.scss */

.mainContainer {
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .imgWrapper {
        position: absolute;
        width: 90%;
        height: 100%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;

        .bg_image {
            width: 100%;
            height: 100%;

        }

        .imgWrapper_ab {
            position: absolute;
            // width: 80%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media (max-width: 768px) {
    .mainContainer {
        .imgWrapper {
            width: 100%;
            height: 100%;

            .imgWrapper_ab {
                width: 100%;
            }
        }
    }
}

@media (max-width: 576px) {
    .mainContainer {
        height: 100%;
        // min-height: 250px;

        .imgWrapper {
            width: 100%;
            height: 100%;

            .imgWrapper_ab {
                width: 100%;
            }
        }
    }
}