.grid-container {
    display: grid;
    height: 100vh;
    width: 100%;
    height: auto;

    .image_section {
        flex: 0.5;
        height: auto;

        .img_wrapper {
            width: 100%;
            height: 100%;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .details_con {
        flex: 0.45;
    }

    // Web layout
    @media (min-width: 701px) {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "item-1 item-2"
            "item-1 item-3";
    }

    // Mobile layout
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "item-2"
            "item-1"
            "item-3";
    }
}

.item {
    // display: flex;
    // // justify-content: center;
    // // align-items: center;
    // font-size: 2rem;
}

.item-1 {
    grid-area: item-1;
}

.item-2 {
    grid-area: item-2;
}

.item-3 {
    grid-area: item-3;
}