@import '../../../scss/abstracts/variable.scss';

.sec_con {
    width: 100%;
    height: auto;
    padding-inline: $layout_row_padding;
    background-color: $color-white;
    padding-block: 4rem;
    max-width: 1800px;
    margin: auto;

    .content_Wrapper {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;

        .details_con {
            flex: 0.45;

        }

        .image_section {
            flex: 0.5;

            .img_wrapper {
                width: 100%;
                height: 100%;
            }
        }


    }
}


@media (max-width: 768px) {
    .sec_con {
        .content_Wrapper {
            flex-direction: column;
        }
    }
}

@media (max-width: 576px) {
    .sec_con {
        margin-block-start: 4rem;

        .content_Wrapper {
            flex-direction: column;

        }
    }
}