@import '../../scss/abstracts/variable.scss';

.consumption {
     width: 100%;
     padding-inline: 2rem 0rem;
     border-radius: 8px;
     color: #333;

     .header {
          display: flex;
          align-items: flex-start;
          flex-direction: column;

          .count_con {
               background-color: #ef402d;
               padding-inline: 1rem;
               padding-block: 0.5rem;
               border-radius: 25px;
               color: #fff;
               font-size: 14px;
          }

          .flex_con {
               display: flex;
               align-items: center;
               margin-block: 20px;

               @media screen and (max-width: 800px) {
                    margin-block: 0px;
                    margin-bottom: 20px;
               }

               h4 {
                    width: 85%;
                    margin-inline-start: 1.5rem;
                    font-size: 2rem;
                    color: $color-heading;

                    .icon_wrapper {
                         vertical-align: sub;
                         display: inline-block;
                         cursor: pointer;
                    }

                    .icon {
                         width: 100%;
                         height: 100%;
                    }
               }
          }

          .para {
               width: 80%;
               font-size: $paragraph-font-size;
               color: #797681;
          }
     }

     .mob_img_wrp {
          flex: 1;

          padding-block: 10px;
          padding-right: 2rem;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .num {
               position: absolute;
               top: 50%;
               left: 0%;
               z-index: 20;
               background-color: transparent;
               transition: background-color 0.1s ease 0.3s;
               width: 90%;
               border-radius: 15px;
               display: flex;
               align-items: center;
               justify-content: center;
               transform: translateY(-50%);

               &:hover {
                    background-color: var(--hover-color);
                    transition: background-color 0s ease 0s;
                    .image {
                         transform: translate(-3%, 20%) rotateZ(7deg);
                    }
               }

               .numberText {
                    position: absolute;
                    top: 0.5rem;
                    left: 50%;
                    font-size: 2.2rem;
                    transform: translateX(-50%);
                    z-index: -1;
                    color: #fff;
               }
          }

          .image {
               width: 100%;
               height: 100%;
               object-fit: cover;
               transition: all 0.3s ease;
          }

          .canva {
               width: 95%;
               height: auto;
          }

          @media screen and (max-width: 800px) {
               max-width: 500px;
          }
     }

     .main_con {
          margin-block: 20px;

          @media screen and (max-width: 1124px) {
               padding-right: 1rem;
          }

          h3 {
               font-size: $paragraph-font-size;
          }

          .flex_con {
               width: 100%;
               max-width: 460px;
               min-height: 100px;
               margin-top: 1rem;

               .cont {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                    transition: 300ms;
                    column-gap: 0.5rem;
                    margin-bottom: 0.5rem;

                    .image_con {
                         // max-width: 4.5rem;
                         width: 4.5rem;
                         max-height: 4.5rem;
                         border-radius: 5rem;
                         transition: all 300ms;
                         overflow: hidden;
                         position: relative;
                         display: flex;
                         align-items: center;

                         .image_wrapper {
                              max-width: 4.5rem;
                              width: 100%;
                              aspect-ratio: 1;
                              border-radius: 50%;
                              position: absolute;
                              left: 0%;
                              top: 0%;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              transition: all 300ms;

                              img {
                                   width: 55%;
                                   height: 55%;
                                   object-fit: contain;
                              }
                         }

                         .para {
                              width: 0px;
                              overflow: hidden;
                              margin-left: 4.5rem;
                              font-size: 0.9rem;
                              display: -webkit-box;
                              -webkit-box-orient: vertical;
                              -webkit-line-clamp: 3;
                              padding-right: 10px;
                         }
                    }

                    .active {
                         // max-width: calc(((100% - 2rem) / 5) * 3);
                         width: calc(100% - 10rem);

                         .image_wrapper {
                              max-width: 3.75rem;
                              top: 0.35rem;
                              left: 0.35rem;
                         }

                         .para {
                              width: auto;
                         }
                    }
               }
          }
     }
}

@media (max-width: 768px) {
     .consumption {
          padding-inline: 0.5rem;

          .header h2 {
               font-size: 1rem;
          }

          .description {
               font-size: 0.8rem;
          }

          .targets .targetItem {
               width: 50px;
               height: 50px;
          }
     }
}
