@import '../../../scss/abstracts/variable.scss';

.eduction_con {
    width: 100%;
    // height: 100vh;
    padding-inline: 2rem;
    // padding-block: 2rem;
    background-color: #F3FCF4;
    max-width: 1800px;
    margin: auto;
    padding-block: 4rem;

    .content_Wrapper {
        display: flex;
        align-items: center;
        // height: 100vh;

        .details_con {
            flex: 0.5;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .image_section {
            flex: 0.5;
            height: 100%;
            padding-block: 2rem;

            .img_wrapper_index {
                display: flex;
                flex-direction: column;
                position: relative;

                .img_index {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                .img_index_top {
                    width: 40%;
                    transform: translateX(13rem) translateY(2rem);
                }

                .img_index_right {
                    width: 40%;
                    transform: translateX(0rem) translateY(-1rem);
                }

                .img_index_left {
                    width: 40%;
                    transform: translateX(22rem) translateY(-7rem);
                }


            }

            .img_wrapper_absolute {
                position: absolute;

                .img_ab {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: inherit;
                }

                .img_top_con {
                    width: 23rem;
                    height: 100%;
                    transform: translateX(0rem) translateY(1rem);
                    z-index: 0;
                    position: relative;
                    border-radius: 10px;
                }

                .img_right_con {
                    width: 23rem;
                    height: 100%;
                    z-index: 1;
                    position: relative;
                    border-radius: 10px;
                    transform: translateX(13rem) translateY(-7rem);
                }

                .img_left_con {
                    width: 23rem;
                    height: 100%;
                    z-index: 2;
                    position: relative;
                    border-radius: 10px;
                    transform: translateX(0rem) translateY(-10rem);
                }

                .img_bottom_con {
                    width: 23rem;
                    height: 100%;
                    z-index: 3;
                    position: relative;
                    border-radius: 10px;
                    transform: translateX(13rem) translateY(-18rem);
                }

                .text_left {
                    position: relative;
                    transform: translateX(2rem) translateY(-46rem);
                    font-size: $default-font-size;
                    font-weight: $font-weight-bold;
                    width: fit-content;
                    color: $color-primary;
                }

                .text_right {
                    position: relative;
                    transform: translateX(24.5rem) translateY(-40rem);
                    font-size: $default-font-size;
                    font-weight: $font-weight-bold;
                    width: fit-content;
                    color: $color-primary;
                }
            }


        }
    }
}


@media (max-width: 768px) {
    .eduction_con {
        .content_Wrapper {
            flex-direction: column;
        }
    }
}

@media (max-width: 576px) {
    .eduction_con {

        .content_Wrapper {
            flex-direction: column;

            .image_section {
                width: 100%;
            }
        }
    }
}