.DigitalSecurity_con {
    width: 100%;
    padding-inline: 2rem;
    background-color: #F3FCF4;
    max-width: 1800px;
    margin: auto;

    .content_Wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // height: 100vh;

        .details_con {
            flex: 0.4;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }


        .image_section {
            flex: 0.4;
            height: auto;

            .img_wrapper_index {
                display: flex;
                flex-direction: column;
                position: relative;


                .img_index {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }

                .img_index_top {
                    width: 55%;
                    transform: translateX(8rem) translateY(2rem);
                }

                .img_index_right {
                    width: 55%;
                    transform: translateX(23rem) translateY(-3rem)
                }

                .img_index_left {
                    width: 55%;
                    transform: translateX(2rem) translateY(-13rem),
                }

                .img_wrapper_absolute {
                    position: absolute;

                    .img_ab {
                        width: 100%;
                        height: auto;
                        object-fit: contain;
                        border-radius: inherit;
                    }

                    .img_top_con {
                        width: 100%;
                        height: auto;
                        transform: translateX(1rem) translateY(4rem);
                        z-index: 0;
                        position: relative;
                        border-radius: 10px;
                    }

                    .img_right_con {
                        width: 85%;
                        height: auto;
                        z-index: 2;
                        position: relative;
                        transform: translateY(-11rem) translateX(3rem);
                        border-radius: 7px;
                    }

                    .img_left_con {
                        width: 60%;
                        height: auto;
                        z-index: 2;
                        position: relative;
                        transform: translateX(20rem) translateY(-4rem);
                        border-radius: 7px;
                    }
                }
            }

            .img_wrapper {
                display: flex;
                flex-direction: column;
            }

            .image {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                object-fit: contain;
            }

            .img_wrapper_2 {
                width: 70%;
                height: auto;
                border-radius: 20px;
                transform: translateX(-2rem) translateY(-44rem);
            }

            .img_wrapper_3 {
                width: 70%;
                height: auto;
                border-radius: 7px;
                transform: translateX(12rem) translateY(-52rem);

            }

            .img_wrapper_6 {
                width: 70%;
                height: auto;
                border-radius: 7px;
                transform: translateX(-2rem) translateY(-57rem);

            }
        }
    }
}

@media (max-width: 768px) {
    .DigitalSecurity_con {
        padding-block: 5rem;

        .content_Wrapper {
            flex-direction: column-reverse;

            .image_section {
                width: 100%;

                .img_wrapper_index {
                    .img_wrapper_absolute {
                        .img_left_con {
                            transform: translateX(33rem) translateY(-4rem);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .DigitalSecurity_con {
        padding-block: 5rem;

        .content_Wrapper {
            flex-direction: column-reverse;

            .image_section {
                width: 100%;

                .img_wrapper_index {
                    .img_wrapper_absolute {
                        .img_left_con {
                            transform: translateX(16rem) translateY(-4rem);
                        }
                    }
                }
            }
        }
    }
}