@import '../abstracts/variable.scss';

.flex_con {
    display: flex;
    column-gap: 2rem;
    justify-content: space-between;
    padding-block-start: 5rem;
    padding-block-end: 2.5rem;

    .heading {
        font-size: $heading-font-size;
        color: $color-heading;
        flex: 1.5;
        // line-height: 1.5;
    }

    .para {
        font-size: $paragraph-font-size;
        color: $sub-heading;
        flex: 1.1;
        // line-height: 1.6;
        margin-block: 1rem;
        margin-block-end: 3rem;

    }
}

@media (max-width: 768px) {

    .flex_con {
        display: flex;
        flex-direction: column;
        padding-block-start: 4rem;
        padding-block-end: 0rem;

        .heading {
            text-align: center;
            // font-size: 16px;
        }

        .para {
            text-align: center;
            font-size: 1.25rem;
        }
    }
}

@media (max-width: 576px) {
    .flex_con {
        display: flex;
        flex-direction: column;
        padding-block-start: 4rem;
        padding-block-end: 0rem;

        .heading {
            text-align: center;
            // font-size: 16px;
        }

        .para {
            text-align: center;
            font-size: 1.25rem;
        }
    }
}