@import '../../../scss/abstracts/variable.scss';
@import '../../../scss/layout/flex.scss';
@import '../../../scss/layout/grid.scss';


.main_container {
    width: 100%;
    height: auto;
    padding-inline: 2rem;
    background-color: $color-white;
    padding-block: 4rem;
}