.container {
     width: 90%;
     display: flex;
     align-items: center;
     justify-content: center;
     list-style-type: none;
     column-gap: 2rem;
     margin: auto;
     overflow-x: auto;

     @media screen and (max-width: 768px) {
          justify-content: unset;
     }

     &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 0px;
          height: 0px;
     }

     li {
          width: fit-content;
          white-space: nowrap;
          padding: 0.45rem 0.875rem;
          font-size: 1.15rem;
          cursor: pointer;
          color: #74717d;
          transition: all 0.3s;
          border-radius: 8px;
          border: 1px solid transparent;
          font-weight: 500;

          &.active {
               border: 1px solid #e4eaf2;
               background-color: #fff;
               box-shadow: rgba(70, 70, 70, 0.15) 0px 5px 15px 0px;
               color: #0e7b68;
               font-weight: 500;

          }
     }
}