@import '../../../scss/abstracts/variable.scss';

.main_con {
    width: 100%;
    height: auto;
    display: flex;
    padding-inline: 2rem;
    font-family: 'inter';
    max-width: 1800px;
    margin: auto;

    .details_section {
        flex: 0.5;
        display: flex;
        justify-content: center;
        align-items: center;

        .details_con {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;

            .title {
                font-size: $font-50px;
                color: $color-heading;
                padding-block-end: 1rem;
                width: 90%;
                font-family: 'inter';
            }

            .description {
                font-size: $font-17px;
                color: $color-des;
                padding-block-start: 1rem;

                width: 70%;
            }
        }
    }

    .utils_section {
        flex: 0.5;
        height: 100%;

        .utlis_wrapper {
            width: 100%;
            height: 100%;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}


@media (max-width: 768px) {
    .main_con {
        flex-direction: column;

        .details_section {
            .details_con {
                .title {
                    width: 100%;
                    text-align: center;
                }

                .description {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .main_con {
        flex-direction: column;

        .details_section {
            .details_con {
                align-items: center;

                .title {
                    width: 100%;
                    text-align: center;
                }

                .description {
                    text-align: center;
                    width: 80%;
                }
            }
        }
    }
}