.mainheading {
     font-size: 2.45rem !important;
}

.secondaryheading {
     font-size: 1.85rem !important;
}

.tertiaryHeading {
     font-size: 1.3rem !important;
}

.mainpara {
     font-size: 1.05rem !important;
     line-height: 1.6rem;
}

.secondarypara {
     font-size: 0.95rem !important;
     line-height: 1.3rem;
}

.tertiarypara {
     font-size: 0.875rem !important;
     line-height: 1.2rem;
}
