@import '../../../scss/abstracts/variable.scss';
@import '../../../scss/layout/flex.scss';


.innovationAndExcellence_con {

    width: 100%;
    height: auto;
    padding-inline: 2rem;
    background-color: $color-grey-light-1;
    padding-block: 4rem;
    max-width: 1800px;
    margin: auto;

}