.mainContainer {
     background-color: #f2f3f6;
     padding-bottom: 3rem;
     padding-top: 2rem;
     padding-block-start: 4rem;
}

.searchInput {
     margin-block: 2rem;
}

.listContainer {
     padding-inline: 3rem;
}

.horizontalRule {
     width: 80%;
     margin-inline: auto;
     margin-block: 3rem;
     border: 0.5px solid #d7dae4;
}

.paginationContainer {
     margin-top: 4rem;
}

@media (max-width: 768px) {}

@media (max-width: 576px) {}