.maincon {
     height: 1.5rem;
}

.loader {
     border: 4px solid #bab8b8;
     border-top: 4px solid rgb(252, 252, 253);
     border-radius: 50%;
     height: 100%;
     aspect-ratio: 1;
     animation: spin 1s linear infinite;
}
@keyframes spin {
     0% {
          transform: rotate(0deg);
     }
     100% {
          transform: rotate(360deg);
     }
}
