@import '../../scss/abstracts/variable.scss';

.main_con {
     height: calc(100vh - 64px);
     width: 100%;
     padding-inline: 2rem;
     display: flex;
     background-color: $color-white;
     max-width: 1800px;
     margin: auto;
     margin-top: 64px;
     padding-block: 5vh;

     @media screen and (max-width: 600px) {
          flex-direction: column;
          padding-block: 3vh;
     }

     .image_section {
          flex: 0.42;
          height: auto;
          max-height: unset;

          @media screen and (max-width: 600px) {
               max-height: unset !important;
          }
          .image_wrapper {
               padding-left: 1.5rem;
               width: 100%;
               height: 100%;

               @media screen and (max-width: 600px) {
                    padding-left: 0rem;
               }

               img {
                    width: 100%;
                    height: 100%;
                    min-width: 100px;
                    border-radius: 8px;
               }
          }
     }

     .aboutImageSec {
          @media screen and (max-width: 600px) {
               max-height: 30vh !important;
          }

          .image {
               object-position: 50% 33%;
          }
     }

     .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
     }

     .details_section {
          flex: 0.6;

          @media screen and (max-width: 600px) {
               flex: auto;
          }

          .con_wrapper {
               height: 100%;
               height: 100%;
               //    padding-block-end: 1rem;
               //    padding-block-start: 4rem;
               padding-inline: 1.5rem;
               display: flex;
               flex-direction: column;
               justify-content: space-between;

               @media screen and (max-width: 600px) {
                    padding-inline: 0rem;
               }

               .wrapper {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    row-gap: 3vh;

                    @media screen and (max-width: 600px) {
                         row-gap: 1vh;
                    }
               }

               .btn_container {
                    width: fit-content;
                    border-radius: 20px;
                    padding-inline: 0.9rem;
                    padding-block: 0.5rem;
                    color: #0e7b68;
                    font-size: 0.875rem;
                    background-color: #ededed;
                    font-weight: $font-weight-sem-bold;
               }

               .heading {
                    font-size: $heading-font-size;
                    width: 95%;
                    font-weight: 900;
                    // line-height: 3.5rem;
                    line-height: 7vh;

                    @media screen and (max-width: 600px) {
                         line-height: 5vh;
                         width: 100%;
                    }

                    span {
                         color: #0e7b68;
                    }
               }

               .description {
                    // line-height: 1.3rem;
                    color: $color-des;
                    width: 75%;
                    font-size: $sub-heading-font-size;

                    @media screen and (max-width: 600px) {
                         width: 100%;
                    }
               }

               .bottomImage {
                    width: 100%;
                    height: auto;
                    // max-height: 200px;
                    object-fit: cover;
                    border-radius: 10px;
               }

               .noBottomImage {
                    @media screen and (max-width: 600px) {
                         display: none;
                    }
               }

               .thumb_nailWrapper_con {
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    .thumb_nailWrapper {
                         max-width: 300px;
                         width: 100%;
                         cursor: pointer;
                         overflow: hidden;
                         border-radius: 8px;

                         @media screen and (max-width) {
                              max-width: 50vw;
                         }

                         .image {
                              width: 100%;
                              height: auto;
                              object-fit: cover;
                              transition: transform 0.2s ease-in-out;

                              // &:hover {
                              //      transform: scale(1.05);
                              // }
                         }
                    }
               }

               .modalOverlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.8);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 1000;
               }

               .modalContent {
                    padding: 1rem;
                    border-radius: 8px;
                    position: relative;
                    width: 80%;
                    max-width: 800px;

                    .closeButton {
                         position: absolute;
                         top: -3rem;
                         right: -10rem;
                         background: none;
                         border: none;
                         font-size: 2rem;
                         cursor: pointer;
                         padding-inline: 13px;
                         padding-block: 7px;
                         // background-color: #fff;
                         border-radius: 5px;
                         color: #fff;

                         &:hover {
                              color: red;
                         }
                    }

                    .videoPlayer {
                         width: 100%;
                         height: auto;
                         border-radius: 8px;
                    }
               }
          }
     }
}

.mobileBottom {
     display: none;

     @media screen and (max-width: 600px) {
          display: block;
     }

     .mobBottomImage {
          width: 100%;
          height: auto;
          // max-height: 200px;
          object-fit: cover;
          border-radius: 10px;
     }
}

.rowReverse {
     flex-direction: row-reverse;

     @media screen and (max-width: 600px) {
          flex-direction: column;
          .image_section {
               max-height: 30vh !important;
          }
     }
}

.careerSwap {
     @media screen and (max-width: 600px) {
          flex-direction: column-reverse;
     }
     .details_section {
          .con_wrapper {
               @media screen and (max-width: 600px) {
                    flex-direction: column-reverse;
               }
          }
     }

     .image_section {
          @media screen and (max-width: 600px) {
               flex: 1;
          }

          @media screen and (max-width: 600px) {
               max-height: 42vh !important;
          }
     }
}

.consultSwap {
     @media screen and (max-width: 600px) {
          .image_section {
               max-height: unset !important;
          }
     }
}

// @media (max-width: 768px) {
//      .main_con {
//           height: auto;
//           display: flex;
//           flex-direction: column;
//           gap: 2rem;

//           .image_section {
//                padding-block-start: 4rem;

//                .image_wrapper {
//                     padding: 0rem;
//                     padding-block: 1.5rem;
//                }
//           }

//           .details_section {
//                .con_wrapper {
//                     padding-block-start: 0rem;
//                     padding-inline: 0rem;

//                     .heading {
//                          width: 100%;
//                          padding-block: 2rem;
//                     }

//                     .btn_container {
//                          font-size: 1.25rem;
//                     }

//                     .description {
//                          width: 100%;
//                          padding-block-end: 2rem;
//                          font-size: 1.25rem;
//                     }
//                }
//           }
//      }
// }

// @media (max-width: 576px) {
//      .main_con {
//           height: auto;
//           display: flex;
//           flex-direction: column;
//           gap: 1rem;

//           .image_section {
//                padding-block-start: 3rem;

//                .image_wrapper {
//                     padding: 0rem;
//                     padding-block: 1.5rem;

//                     img {
//                          // height: 200px;
//                     }
//                }
//           }

//           .details_section {
//                .con_wrapper {
//                     padding-block-start: 0rem;
//                     padding-inline: 0rem;

//                     .heading {
//                          width: 100%;
//                          padding-block: 1.5rem;
//                     }

//                     .btn_container {
//                          font-size: 1.25rem;
//                     }

//                     .description {
//                          width: 100%;
//                          padding-block-end: 2rem;
//                          font-size: 1.25rem;
//                     }
//                }
//           }
//      }
// }
